<!DOCTYPE html>
<html lang="en">
<head>
<title>Goverment Hospital</title>
</head>
<body bgcolor="cyan">
<h1 align="center">
<font color="red"><b>THENI - GOD'S OWN TOWN</b></font>
</h1>
<h3 align="center">
<font color="blue" size=5 ><b>Government Hospital</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Courier New" size="5">
<b>
A public hospital , or government hospital in Theni, is a hospital which is government owned and is fully funded by the government 
and operates solely off the money that is collected from taxpayers to fund healthcare initiatives.
They provide individual care. One can have a private ward to take care of the patient 24*7. The hospitals have well-maintained hygiene.
The cost of treatment at government hospitals is relatively less than in private hospitals.
Both Doctors and Nurses who working there was really kind to patients and they are very care to their their patients.
</b>
</font>
</p>
</body>
</html>
