<!DOCTYPE html>
<html lang="en">
<head>
<title>My Town</title>
</head>
<body>
<h1 align="center">
<font color="green"><b>THENI - GOD'S OWN TOWN</b></font>
</h1>
<h3 align="center">
<font color="blue"><b>YUVARAJ.S (22008589)</b></font>
</h3>
<center>
<img src="/static/images/Map.png" usemap="#Map" height="844" width="1724" alt="Map" usemap="#Map">
<map name="Map">
    <area alt="Government Hospital" title="Government Hospital" href="/govthospital" coords="713,247,898,338" shape="rect">
    <area alt="Threatre" title="Threatre" href="/theatre" coords="369,657,580,740" shape="rect">
    <area alt="Post Office" title="Post Office" href="/postoffice" coords="197,336,394,390" shape="rect">
    <area alt="Police Station" title="Police Station" href="/policestation/" coords="373,325,537,371" shape="rect">
    <area alt="Gayathri.Hr.Sec.School" title="Gayathri.Hr.Sec.School" href="/school" coords="1047,775,1279,833" shape="rect">
</map>
</center>
</body>
</html>
