<!DOCTYPE html>
<html lang="en">
<head>
<title>CMR Police Station</title>
</head>
<body bgcolor="pink">
<h1 align="center">
<font color="red"><b>THENI - GOD'S OWN TOWN</b></font>
</h1>
<h3 align="center">
<font color="blue" size=5 ><b>POLICE STATION CMR</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Arial" size="5">
<b>
Police is the people's friend.They safegaurds the people ans society without bothering any their personal things and day and 
night.The role of police plays a important role in the society as well as in nation.In yhat there is some police man using the 
power as mischiefous things.we should warn them and we want to rise our voices,other than of them,we should respect police man and
follow the rules.
</b>
</font>
</p>
</body>
</html>