<!DOCTYPE html>
<html lang="en">
<head>
<title>POST OFFICE</title>
</head>
<body bgcolor="peach">
<h1 align="center">
<font color="cream"><b>THENI - GOD'S OWN TOWN</b></font>
</h1>
<h3 align="center">
<font color="megenta" size=5 ><b>POST OFFICE</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Arial" size="5">
<b>
A post office is a public facility and a retailer that provides mail services, such as accepting letters and parcels, providing post office boxes, and selling postage stamps, packaging, and stationery. 
Post offices may offer additional services, which vary by country.
This post office service in Theni gives their customer a very speed post service this will make our works so
easier to complete.
</b>
</font>
</p>
</body>
</html>