<!DOCTYPE html>
<html lang="en">
<head>
<title>Ponnusamy Theatre</title>
</head>
<body bgcolor="pink">
<h1 align="center">
<font color="red"><b>THENI - GOD'S OWN TOWN</b></font>
</h1>
<h3 align="center">
<font color="blue" size=5 ><b>PONNUSAMY THEATRE</b></font>
</h3>
<hr size="3" color="red">
<p align="justify">
<font face="Arial" size="5">
<b>
Theatre or theater in Theni is a collaborative form of performing art that uses live performers, usually actors or 
actresses, to present the experience of a real or imagined event before a live audience in a specific place, often a stage.
The field of theatre encompasses not only live improvised and scripted work, but 
also dramatic forms such as film, television and other electronic media.

Ponnusamy theatre in Theni gives as a very good movie theatre experience.In that theatre there is 360 degree
atmos 3D quality sound,This will gives as good audio quality.It has 4K quality video quality.We can enjoy the movie
in this theatre.
</b>
</font>
</p>
</body>
</html>